@use "../base" as base;

.quote-form {
    font-size: 1.2rem;
    width: 100%;
}

.quote-form input, .quote-form button {
    font-size: inherit; 
}

.quote-container{
    display: flex;
}

.quote-input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border: solid 1px rgb(210, 210, 210);

    &:focus,
    &:active,
    &:focus-visible{
        border: solid 1px base.$primary-btn;
    }
}

.quote-submit{
    padding: 1rem;
    background-color: base.$primary-btn;
    color: white;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    border: solid 1px base.$primary-btn;
    &:focus,
    &:active,
    &:focus-visible{
        border: solid 1px black;
    }
}
